.portfolio-card {

  background-color: black;
   border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(122, 40, 202, 0.2);
}

.portfolio-card img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
.portfolio-card:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}
.portfolio-section {
  padding: 4rem 2rem;
  color: white;
  text-align: center;
  background-color: black;
  position: relative;
  overflow: hidden;
  background-image:
     linear-gradient(
    to top,
    rgba(0,0,0,0.4) 0%,
    rgb(0, 0, 0) 1000%
  ),
    url('../assets/blackkk.avif'); /* <-- update path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}